<div class="header pb-7 pt-5 pt-lg-8 d-flex align-items-center"
    style="min-height: 350px; background-image: url(https://munichaclacayo.gob.pe/portals/slider/imagenes/1.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->

    <!-- Header container -->
    <div class="container-fluid ">
        <div class="header-body" style="margin-top: 70px;">
            <!-- Card stats -->
            <div class="col-md-5">
                <div class="form-group" >
                    <div class="input-group" style="margin-left: 60px;"> 
                        <select style="width: 275px;" class="form-select form-select-sm" aria-label=".form-select-sm example">
                            <option selected>Seleccionar</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                        <button style="background-color: gold;" type="button" class="btn btn">FILTRAR</button>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    
                </div>
                <div class="col-md-5" style="margin-right: 50px; margin-top: -60px;">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                            </div>
                            <input class="form-control" placeholder="Search" type="text">
                            <button type="button" class="ml-1 btn btn-secondary">BUSCAR</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead style="background-color: #92D050;">
                          <tr class="text-light">
                            <th scope="col">REPRESENTANTE DE LA J.D</th>
                            <th scope="col">NOMBRE DE O.S.</th>
                            <th scope="col">RAZÓN</th>
                            <th scope="col">FECHA DE INGRESO</th>
                            <th scope="col">Nº EXPEDIENTE</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">wuejueje</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td><button style="background-color: gold; margin-top: -10px;" type="button" class="btn btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Agregar</button>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">wedehfe</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>Otto</td>
                          </tr>
                          <tr>
                            <th scope="row">wuejueje</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>Otto</td>
                          </tr>
                          <tr>
                            <th scope="row">wuejueje</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>Otto</td>
                          </tr>
                          <tr>
                            <th scope="row">wuejueje</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>Otto</td>
                          </tr>
                          <tr>
                            <th scope="row">wuejueje</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>Otto</td>
                          </tr>
                          
                        </tbody>
                      </table>
                </div>

                
            </div>
            
                              
        </div>
    </div>

</div>
