<div class="header pb-7 pt-5 pt-lg-8 d-flex align-items-center"
    style="min-height: 350px; background-image: url(https://munichaclacayo.gob.pe/portals/slider/imagenes/1.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->

    <!-- Header container -->
    <div class="container-fluid ">
      <div class="header-body">
        <div style="margin: -40px;" class="container-fluid">
        
            <div class="row row-cols-2">
              <div class="col-8 col-md-8">
                <div class="">
                  <div class="form-group" >
                      <div class="input-group" > 
                          <select style="width: 450px; height: 80%; border: 40px;" class="form-select form-select-sm" aria-label=".form-select-sm example">
                              <option selected> Seleccionar</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                          <button style=" height: 29px; margin: -3px; background-color: gold;" type="button" class="ml-1 btn btn">FILTRAR</button>
                      </div>
                  </div>
              </div>
              </div>

              <div class="col-4"></div>
              <div class="col-8 col-md-7">
                <div>
                  <div class="form-group">
                      <div class="input-group">
                          
                          <input style="width: 280px; height: 50%;" class="form-control" placeholder=" Search" type="text">
                          <button style="margin: -3px; height: 40px;" type="button" class="ml-1 btn btn-secondary">BUSCAR</button>
                      </div>
                  </div>
              </div>
              </div>

              <div class="col-6 col-md-4">
                <button style="background-color: gold; margin-left: 80px; font-size: 90%;" type="button" class="btn btn" data-bs-toggle="modal" data-bs-target="#examplemodal">GENERAR NUEVA ORGANIZACIÓN SOCIAL</button>
              
              </div>

            </div>
          
      
        </div>
  
      </div>

  </div>
  
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead style="background-color: #92D050;">
                          <tr class="text-light">
                            <th scope="col">REPRESENTANTE DE LA J.D</th>
                            <th scope="col">ORG. SOCIAL</th>
                            <th scope="col">TIPO</th>
                            <th scope="col">DETALLE</th>
                            <th scope="col">Nº EXPEDIENTE</th>
                            <th scope="col">INFORME TÉCNICO</th>
                            <th scope="col">RESOLUCIÓN DE RECONOCIMIENTO</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">MIGUEL ANTONY TREJO LLANOS
                            </th>
                            <td>Markgrg</td>
                            <td>Marwdwdk</td>
                            <td>
                              <i class="fa-solid fa-eye" style="font-size: 160%;"></i>
                            </td>
                            <td>Marwdwdk</td>
                            <td>
                              <i class="fa-solid fa-eye" style="font-size: 160%;"></i>
                            </td>
                            <td>
                              <div style="display: flex;">
                              <i class="fa-solid fa-eye" style="font-size: 160%; margin-right: 15px;"></i>
                              <button style="background-color: gold; margin-top: -6px; font-size: 70%;" type="button" class="btn btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">SUBIR ARCHIVO</button>
                            </div>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">wedehfe</th>
                       
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>@fat</td>
                          </tr>
                          <tr>
                            <th scope="row">wuejueje</th>
                            <td>Mark</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            
                            <td>@fat</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                          </tr>
                          <tr>
                            <th scope="row">wuejueje</th>
                            <td>Mark</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            
                            <td>@fat</td>
                            <td>Otto</td>
                            <td>Otto</td>
                          </tr>
                          <tr>
                            <th scope="row">wuejueje</th>
                            <td>Mark</td>
                            <td>Otto</td>
                           
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>@fat</td>
                          </tr>
                          <tr>
                            <th scope="row">wuejueje</th>
                            <td>Mark</td>
                            <td>@mdo</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            
                            <td>@fat</td>
                            <td>Otto</td>
                          </tr>
                          
                        </tbody>
                      </table>
                </div>

                
            </div>
            
                              
        </div>
    </div>

</div>
