<div class="header pb-7 pt-5 pt-lg-8 d-flex align-items-center"
    style="min-height: 350px; background-image: url(https://munichaclacayo.gob.pe/portals/slider/imagenes/1.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->

    <!-- Header container -->
    <div class="container-fluid ">
        <div class="header-body">
            <!-- Card stats -->
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-success">EXPORTAR EXCEL</button>
                    <button type="button" class="btn btn-danger">EXPORTAR PDF</button>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-7">
                    
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                            </div>
                            <input class="form-control" placeholder="Search" type="text">
                            <button type="button" class="ml-1 btn btn-secondary">BUSCAR</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                          </tr>
                          
                        </tbody>
                      </table>
                </div>

                
            </div>
        </div>
    </div>
</div>