<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 500px; background-image: url(https://munichaclacayo.gob.pe/portals/slider/imagenes/1.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-4 text-white"><b>Hola Jesse</b></h1>
        <p class="text-white mt-0 mb-5">
          Esta es tu página de perfil. Puedes ver el progreso que has hecho con tu trabajo y gestionar tus proyectos o tareas asignadas</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--8">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="bg-white card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">Connect</a>
            <a href="javascript:void(0)" class="btn bg-white btn-sm btn-default float-right">Message</a>
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row mt-5">
          
          </div>
          <div class="text-center">
            <h5>
              Jessica Jones
            </h5>
            <div class="h6 font-weight-300">
              Bucharest Romania
            </div>
            <div class="h6 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>N° DNI 77529553
            </div>
            <div class="h6">Representante
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Mi cuenta</h3>
            </div>
            <div class="col-4 text-right">
              <!-- <a href="#!" class="btn btn-sm btn-primary">Settings</a> -->
            </div>
          </div>
        </div>
        <div class="card-body bg-white">
          <form>
            <h6 class="heading-small text-muted mb-4">
              Informacion del usuario</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">D.N.I.</label>
                    <input type="text" id="input-username" class="form-control-sm form-control form-control-alternative" placeholder="D.N.I." >
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Nombres</label>
                    <input type="text" id="input-email" class="form-control form-control-sm form-control-alternative" placeholder="Nombres">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Apellido paterno</label>
                    <input type="text" id="input-first-name" class="form-control form-control-sm form-control-alternative" placeholder="Apellido paterno" >
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Apellido materno</label>
                    <input type="text" id="input-last-name" class="form-control form-control-sm form-control-alternative" placeholder="Apellido materno" >
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Fecha de nacimiento</label>
                    <input type="text" id="input-last-name" class="form-control form-control-sm form-control-alternative" placeholder="Fecha de nacimiento" >
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Dirección</label>
                    <input type="text" id="input-last-name" class="form-control form-control-sm form-control-alternative" placeholder="Dirección" >
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Teléfono</label>
                    <input type="text" id="input-last-name" class="form-control form-control-sm form-control-alternative" placeholder="Teléfono" >
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Correo electrónico</label>
                    <input type="email" id="input-last-name" class="form-control form-control-sm form-control-alternative" placeholder="name@gmail.com" >
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Contraseña</label>
                    <input type="text" id="input-last-name" class="form-control form-control-sm form-control-alternative" placeholder="Contraseña" >
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
